.search-container {
    width: 100%;
    height: 60px;
    background-color: #543d58;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.search-form {
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
    justify-self: center;
}

.search-input {
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    border: none;
}

.search-button {
    border: none;
    outline: none;
    background: #af3fb5;
    padding: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
}

.search-button:hover {
    color: #af3fb5;
    background-color: #fff;
    border: 1px solid #af3fb5;
}

.logo {
    margin-left: 30px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-family: fantasy;
}